body{
    
    background-image: url("img/starWarsBack.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container, .images{
    box-sizing: border-box;
    /* float: left; */
    vertical-align: center;
    align-items: center;
}



img{
   
    width:450px;
    height:300px;
}

td, tr {
    padding: 0px;
    margin: 0px;
    border-bottom: solid red 1px
}
tr, th, table {
    color:white;
    padding: 0px;
    margin:0px;
}